*{
    padding: 0;
    margin: 0;
}

body{
    background-color: blueviolet;
    perspective: 800px;
}
.navbar{
    background-color: rgba(29,12,53,0.9);
}

button:focus{
    outline: none;
}

#land{
    
    background-image: url(assets/bg.png);
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#schedule_row{
    display: flex;
    flex-direction: row-reverse;
}

#schedule-button{
    margin-right: 8px;
    background-color: rgba(29,12,53,0.9);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: white;
    color: #fff;
    cursor: default;
}

.fa-angle-right{
    font-size: 3rem;
    color: #ffb84d;
    cursor: pointer;
}

#logo_row{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

#log_row img{
    
    max-height: 100%;
    max-width: 100%;
}

#register_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

#dates{
    color:#ffb84d;
    font-size: 1.5rem;
    font-weight: 1000;
}

#seperator{
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
}

#register{
    background-color: #ffb84d;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    padding-left: 5px;
    padding-right: 100px;
    border: none;   
}



#info-row{
    display: flex;
    flex-direction: row;
    
}

#content{
    color:#fff;
    font-size: 1.1rem;
    font-weight: bold;
}
#about{
    font-size: 2rem;
    color: white;
}
#video{
    display: flex;
    justify-content:space-around;
    margin-top: 2%;
    max-height: 50vh;
    max-width: 50vw;
    
}

.black{
    position: absolute;
    background-color: black;
    height: 400px;
    width: 600px;
    max-width: 50vw;
    max-height: 50vh;
    transform: rotate(9deg);
}

.violet{
    position: absolute;
    background-color: darkviolet;
    height: 400px;
    width: 600px;
    
    max-width: 50vw;
    max-height: 50vh;
    transform: rotate(-11deg);
}

#vid{
    position: absolute;
    z-index: 1;
}

iframe{
    max-width: 50vw;
    max-height: 50vh;
}



@media screen and (width<992px){
    #video{
        height: 100%;
        margin-bottom: 45%;
        margin-top: 45%;
        margin-left: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}

#count-container{
    margin-top: 15%;
    background-color: black;
    opacity: 0.8;
    max-width: 100%;
    max-height: 100%;
}

.data{
    
    padding-top: 40px;
    padding-bottom: 40px;
}

#number{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

#name{
    color: #ffb84d;
    font-size: 2rem;
    font-weight: 500;
}

/*********************NAV BUTTON DIV***************************/

#nav-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.my-btn{
    position: relative;
    width: 150px;
    height: 50px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
}

.my-btn:hover{
    transform: rotateX(-90deg);
}
.side{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
}


.default-side{
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    color: rgb(28,12,53);
    border: 2px solid rgb(28,12,53);
    background-color: blueviolet;
    transform: translateZ(25px);
}

.default-side:hover{
}

.hover-side{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    background-color: rgb(28,12,53);
    color: #fff;
    border-width: 2px;
    border-color: rgb(28,12,53);
    transform: rotateX(90deg) translateZ(25px);
}

.btn1{
    position: relative;
    width: 150px;
    height: 50px;
}
.default{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    background-color: rgb(28,12,53);
    color: #fff;
    border-width: 2px;
    border-color: rgb(28,12,53);
}

@media (width<=973){
    .pro-side{
        padding-right: 100px;
    }
}
@media (width<670px){
    #nav-row{
        display: none;
    }
}

/***************************CATEGORY CARD DIV*********************/

#category-div-container{
    display: flex;
    align-self: center;
    margin-top: 100px;
    max-height: 100%;
    
}

#category-div-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
}

#card{
    height: 400px;
    max-width: 100%;
    background-color: rgb(28,12,53);
    opacity: 0.8;
    color: rgb(28,12,53);
    border: 3px solid #fff;
    border-radius: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.card-img-top{
    height: 50%;
    width: 50%;
    display: flex;
    padding: 40px;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.card-title{
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem
}

#test{
    margin-top: 110%;
    transition: 0.3s ease-in-out;
}

.card-text{
    color:#fff;
    font-weight: bolder;
    font-size: 1rem;
}

.learn{
    position: relative;
    background-color: black;
    opacity: 0.9;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.learn:hover{
    
    
}

#card:hover{
    background-color: rgb(28,12,53);
    opacity:1;
}

#card:hover #test{
    margin-top: -58%;
    z-index: 2;
}

@keyframes fading{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
#card:hover .card-img-top{
    animation: fading;
    animation-timing-function: ease-in-out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@media(width<1200px){
    
    #card{
    width: 350px;    
    height: 400px;
    
}
    
    
    
    #category-div-container{
        
        display: flex;
        align-self: center;
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    
    
    #category-div-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    }
    
    
    
    
    #card-col{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%; 
    }

}

@media (width<1205px) and (width>970px){

    #category-div-row1{
        
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        max-height: 100%;
        margin: 0px;
        padding: 0px;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    
    #category-div-container{
        
        margin-top: 80px;
        display: flex;
        align-self: center;
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    
}

@media (width>=952px) and (width<=1205px){
    
    #category-div-container{
        
        margin-top: 80px;
        display: flex;
        align-self: center;
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #category-div-row1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}
    
    #card-col{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%; 
    }
    
    
}


@media (width<712px){
    
    
    #category-div-container{
        
        display: flex;
        margin-top: 80px;
        align-self: center;
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    
   
    
    #category-div-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}
    
    #card-col{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%; 
    }
}

/****************************SPEAKERS*****************************/

#speaker-row{
    display: flex;
    flex-direction: row;
    
}
#wipro{
    position: relative;
    height: 200px;
    width: 150px;
    background-image: url(assets/wipro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #fff;
}

#wipro img{
    display: block;
    position:absolute;
    left: 0%;
    width: 300px;
    height: 100%;
}